
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <title>Login 09</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/AdminLTE-3.0.4/login-form-20/css/style.css">

</head>
<body class="img js-fullheight" style="background-image: url(/AdminLTE-3.0.4/login-form-20/images/bg.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Kullanıcı Girişi</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap py-5">
                        <div class="row justify-content-center">
                            @*<div class="col-md-6 text-center mb-5">
                                <h2 class="heading-section">Kullanıcı Girişi</h2>
                            </div>*@
                        </div>
                        @*<div class="img d-flex align-items-center justify-content-center" style="background-image: url(/AdminLTE-3.0.4/login-form-20/images/bg.jpg);"></div>*@
                        @*<h3 class="text-center mb-0">Hoşgeldiniz</h3>*@
                    @*<form action="#" class="login-form">*@

                        @using (Html.BeginForm("WriterLogin", "Login", FormMethod.Post)) {
                        <div class="form-group">
                            @*<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>*@
                            <input type="text" name="WriterMail" class="form-control" placeholder="Mail Adresi Giriniz" required>
                        </div>
                        <div class="form-group">
                            @*<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>*@
                            <input type="password" name="WriterPassword" class="form-control" placeholder="*****" required>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn form-control btn-primary rounded submit px-3">Giriş Yap</button>
                        </div>
                        @*<div class="w-100 text-center mt-4 text">
                            
                            <a href="#">Giriş Yap</a>
                        </div>*@
                        }
                    @*</form>*@
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/AdminLTE-3.0.4/login-form-20/js/jquery.min.js"></script>
    <script src="~/AdminLTE-3.0.4/login-form-20/js/popper.js"></script>
    <script src="~/AdminLTE-3.0.4/login-form-20/js/bootstrap.min.js"></script>
    <script src="~/AdminLTE-3.0.4/login-form-20/js/main.js"></script>

</body>
</html>

